:root {
  --rich-black: #011627;
  --baby-powder: #fdfffc;
  --middle-blue-green: #9ce8e0;
  --tiffany-blue: #2ec4b6;
  --viridian-green: #239589;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* transform: scale(1.2); */

@layer base {
  /* @font-face {
    font-family: ;
    src: url();
  } */
  body {
    @apply bg-primary;
    @apply text-secondary;
    background: linear-gradient(-45deg, #141e30, #243b55);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@layer components {
  .flex-label {
    flex: 1 1 30%;
  }
  .cover-transition {
    transition-property: transform, background-position;
    transition-timing-function: linear;
    transition-duration: 100ms, 4s;
  }
  .cover-transition:hover {
    transition-delay: 0ms, 250ms;
  }

  .overlay-card {
    will-change: opacity;
    max-width: 600px;
    max-height: 400px;
  }

  .absolute-full {
    @apply absolute;
    @apply w-full;
    @apply h-full;
    @apply top-0;
  }

  /* TODO: redo in tailwind */
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}
