@tailwind base;
@tailwind components;
@tailwind utilities;

/* transform: scale(1.2); */

@layer base {
  /* @font-face {
    font-family: ;
    src: url();
  } */
  body {
    @apply bg-gray-800;
    @apply text-white;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

@layer components {
  .flex-label {
    flex: 1 1 30%;
  }
  .cover-transition {
    transition-property: transform, background-position;
    transition-timing-function: linear;
    transition-duration: 100ms, 4s;
  }
  .cover-transition:hover {
    transition-delay: 0ms, 250ms;
  }

  .overlay {
    z-index: 1;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    will-change: opacity;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
  }

  .overlay a {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    left: 50%;

    transform: translateX(-50%);
  }
}
